<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <style>
            .affix {
                top: 0;
                width: 100%;
            }

            .affix + .container-fluid {
                padding-top: 70px;
            }
        </style>
    </head>
    <body>
        <header>
            <div class="container-fluid" style="background-color:#F44336;color:#fff;height:200px;"></div>
            <nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
                <ul class="nav col-sm-5">
                    <li class="col-sm-4 "><a href="{{ path('core_homepage') }}">Accueil</a></li>
                    <li class="col-sm-4"><a href="#">Boutique</a></li>
                    <li class="col-sm-4"><a href="#">Vote</a></li>
                </ul>
                <div class="nav col-sm-2">
                    <a class="col-sm-12" href="{{ path('core_homepage') }}"><img src="http://i.imgur.com/ArqTETp.png" title="logo" class="col-sm-12 on-top"/></a>
                </div>
                <ul class="nav col-sm-5">
                    <li class="col-sm-4"><a href="#">Info et réglement</a></li>
                    <li class="col-sm-4"><a href="#">Profil</a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li class="col-sm-4">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                    {{ app.user.username }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    {% if is_granted('ROLE_MODO', 'ROLE_ADMIN') %}
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="">Panneau de commandes</a></li>
                                        <li role="presentation" class="divider"></li>
                                    {%  endif %}
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{  path('logout') }}">Déconnexion</a></li>
                                </ul>
                            </div>
                        </li>
                    {%  else %}
                        <li class="col-sm-4"><a href="{{ path('login') }}">Connexion</a></li>
                    {% endif %}
                </ul>
            </nav>
            <div class="container-fluid" style="height:1000px">
                <h1>Some text to enable scrolling</h1>
                <h1>Some text to enable scrolling</h1>
                <h1>Some text to enable scrolling</h1>
                <h1>Some text to enable scrolling</h1>
                <h1>Some text to enable scrolling</h1>
                <h1>Some text to enable scrolling</h1>
                <h1>Some text to enable scrolling</h1>
                <h1>Some text to enable scrolling</h1>
                <h1>Some text to enable scrolling</h1>
                <h1>Some text to enable scrolling</h1>
                <h1>Some text to enable scrolling</h1>
            </div>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
