<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% stylesheets
            'css/framework/bootstrap.css'
            'css/head_nav.css'
            'css/main_page.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <div id="myCarousel" class="carousel slide banniere" data-ride="carousel">
                <!-- Indicators -->
                {#<ol class="carousel-indicators">#}
                    {#<li data-target="#myCarousel" data-slide-to="0" class="active"></li>#}
                    {#<li data-target="#myCarousel" data-slide-to="1"></li>#}
                    {#<li data-target="#myCarousel" data-slide-to="2"></li>#}
                {#</ol>#}

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="http://i.imgur.com/VbQwHp2.jpg" alt="slide1">
                    </div>

                    <div class="item">
                        <img src="http://i.imgur.com/GOHYOYs.jpg" alt="slide2">
                    </div>

                    <div class="item">
                        <img src="http://i.imgur.com/0Q3dgfI.jpg" alt="slide3">
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-inverse nav-global" data-spy="affix" data-offset-top="197">
                <ul class="nav col-sm-5 nav-contain">
                    <li class="col-sm-4 "><a href="{{ path('core_homepage') }}">Accueil</a></li>
                    <li class="col-sm-4"><a href="#">Boutique</a></li>
                    <li class="col-sm-4"><a href="#">Vote</a></li>
                </ul>
                <div class="nav col-sm-2">
                    <a class="col-sm-12" href="{{ path('core_homepage') }}"><img src="http://i.imgur.com/ArqTETp.png" title="logo" class="col-sm-12 logo-nav"/></a>
                </div>
                <ul class="nav col-sm-5 nav-contain">
                    <li class="col-sm-4"><a href="#">Support</a></li>
                    <li class="col-sm-4"><a href="#">Profil</a></li>
                    {% if is_granted('ROLE_USER') %}
                        <li class="col-sm-4">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle btn-block btn-user" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                    {{ app.user.username }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    {% if is_granted('ROLE_MODO', 'ROLE_ADMIN') %}
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="">Panneau de commandes</a></li>
                                        <li role="presentation" class="divider"></li>
                                    {%  endif %}
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{  path('fos_user_security_logout') }}">Déconnexion</a></li>
                                </ul>
                            </div>
                        </li>
                    {%  else %}


                        <li class="col-sm-4"><button type="button" class="btn btn-default btn-user btn-block" data-toggle="modal" data-target="#myModal">Connexion</button></li>

                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Modal Header</h4>
                                    </div>
                                    <div class="modal-body row">
                                        <div class="col-xs-5">

                                        </div>
                                        <div class="col-xs-2">
                                            <hr>
                                        </div>
                                        <div class="col-xs-5">

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        {% javascripts
            'js/framework/jquery-3.2.1.min.js'
            'js/framework/bootstrap.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
